
button{
    background-color: transparent;
    border: none;
}
.btn.active {
    background-color:#0f3350;
    border-radius: 3px;
}

.language-buttons img{
    width: 1vw;
}
.projectBtnHero p{
    white-space: nowrap;
    margin: 10px;
}
.projectBtnHero{
    opacity: 0.4;
}
.projectBtnHero:hover{
    opacity: 1;
}
.projectBtn ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    
}
.rep, 
.demo,
.fig{
    border: solid 1px white;
    color: white;
    
    
}
.rep:hover, 
.demo:hover,
.fig:hover{       
    background-color: #0056b3;
    color: white;
}


a{
    text-decoration: none;
    
}
a:hover{
    color: blue;
}
form{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 30%;
    margin: 1%;
   
}
input,
textarea{
    font-size: 1.5vw;
    border: transparent;
    background-color: #030E16;
    width: 100%;
    padding: 10px;
    color: white;   
}
label{
    font-size: 2vw;
    background-color: #030E16;
    width: 100%;
    padding: 10px;
}
.enviar{
    width: 100%;
    background-color: #2A7AE4;
    align-items: center;
}
.enviar:hover{
    cursor: pointer;
}
.sh img,
.hobb img{
    width: 8vw;
    border-radius: 5px;
    
    min-width: 40px;
}
.sh h2,
.hobb h2{
    font-size: 2.5vw;

}
#edu img{
    width: 20vw;
}
.uni h4,
.one h4,
.ebac h4{
    font-size: 1.2vw;
}
.uni p,
.one p,
.ebac p{
    font-size: 1vw;
}
#abo img{
    width: 3vw;
}
#sobe{
    position: fixed;
    right: 10px;
    bottom: 30px;
    width: 7vw;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    transform: translatey(100%);
    cursor: pointer;
}
#sobe.visible{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.invalid-input {
    border: 1px solid red;    
}
span{
    color: red;
}

