.btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5vw;
    font-size: 1vw; 
}
button{
    background-color: transparent;
    border: none;
}
.btn.active {
    background-color:#0f3350;    
    padding: 0.2rem;
    border-radius: 3px;
  }
#pt {
    color:#009c3b;
    font-size: 1.5vw;
}
#es{
    color: #F1BF00;
    font-size: 1.5vw;
}
#en{
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
}
.language-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 0.5vw;
    margin-top: 10px;
}

.projectBtnHero p{
    white-space: nowrap;
    margin: 10px;
}
.projectBtnHero{
    opacity: 0.4;
}
.projectBtnHero:hover{
    opacity: 1;
}
.projectBtn ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    gap: 1vw;
    text-align: center;
}
.rep{
    border: solid 0.15vw white;
    color: white;
    align-items: center;
    padding: 1vw;
}
.rep:hover{
    border: solid 2px #F25C05;
    color: #F25C05;
}
.demo{
    background-color: #2A7AE4;
    color: white;
    padding: 1vw;
}
.demo:hover{
    background-color: blue;
    color: wheat;
}
.fig{
    padding: 1vw;
    background-color: white;
    color:black    
}
.fig:hover{
    background-color: #0f3350;
    color: wheat;
}
a{
    text-decoration: none;
}
a:hover{
    color: blue;
}

.projectBtn ul{
      display: flex;
      flex-direction: column;
      text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 60%;
    margin: 1%;
   
}
input,
textarea{
    font-size: 2vw;
    border: transparent;
    background-color: #030E16;
    width: 100%;
    padding: 10px;
    color: white;   
}
label{
    font-size: 2vw;
    background-color: #030E16;
    width: 100%;
    padding: 10px;
}
.enviar{
    width: 100%;
    background-color: #2A7AE4;
    align-items: center;
}
.enviar:hover{
    cursor: pointer;
}
.sh img,
.hobb img{
    width: 8vw;
}
.sh h2,
.hobb h2{
    font-size: 2.5vw;
}
#edu img{
    width: 20vw;
}
.uni h4,
.one h4,
.ebac h4{
    font-size: 1.2vw;
}
.uni p,
.one p,
.ebac p{
    font-size: 1vw;
}
#abo img{
    width: 3vw;
}
#sobe{
    position: fixed;
    right: 10px;
    bottom: 30px;
    width: 7vw;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    transform: translatey(100%);
    cursor: pointer;
}
#sobe.visible{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.invalid-input {
    border: 1px solid red;    
}
span{
    color: red;
}

