.projects {
    width: 80%;
    height: auto;
    margin: 1vw;
}

.projectContent{
    width: 50%;
    
}
.slide img {
    border: solid 1px;
    border-radius: 10px;
    width: 100%;
    max-height: 900px;
    
}

@media screen and (max-width: 900px) {
    .slide img {
        width: 100%;
    }
    .projectSlide {
        flex-direction: column;
    }
    .projectContent{
        width: 100%;
    }

}
ul {
    display: flex;
    justify-content: center;
    gap: 5px;    
    list-style: none; 
    padding: 0; 
}
ul a {
    margin: 5px 0; 
}

.project-description, ul {
    margin: 10px 0; 
}

.carrossel-front-end button,
.carrossel-ux-ui button,
.carrossel-negocios button{       
    border: none;
    font-size: 5em;
    color:#F25C05;
    cursor: pointer;
    align-items: center;
    margin: 10px;
    bottom: 0;
    left: 50%;
    transform: translateY(-50%);
}
.btn{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.section-title {
    font-size: 2.5em;
    cursor: pointer;
    padding: 10px;
    background: #020202;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
}
.section-title:hover {
    background: #030E16;
    border: solid 1px #F25C05;
    border-radius: 5px;
    font-size: 2.9em;
}

.collapsible {
    background: #030E16;
    
}
.projectSlide{
    display: flex;
    align-items: center;
}
.projectBtn {
    display: flex;
    height: 100%;
    text-align: center;
    font-size: 2vw;
    padding: 5px;
    gap: 10px;
    width: 100%;
}
@media (max-width: 900px) {
    .projectBtn {
        flex-direction: column;
        justify-content: center;
    }
}

.projectContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 500px;
}
.projectInfo{
    max-height: 300px;
}
.slide {
    display: flex;
}
.slide ul {
    width: 100%;
}
.slide ul a {
    width: 100%;
}

