.accordion-header {
    cursor: pointer;
    padding: 1rem;    
    border: none;
    font-size: 1.2rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin: 10px;;
    transition: background 0.3s;
    border-radius: 12px;
    color: #E0E0E0;
    background-color: #1a1a1a;
    box-shadow: 0 2px 6px #DA00FF;

  }  
  .accordion-header:hover {
    background-color: #DA00FF;
    color: #1a1a1a;
  }
  
  .accordion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    gap: 1rem; 
    
  }
  .icons ul {
    list-style: none;    
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .icons ul img{
    width: 2rem;
    height: 2rem;
  }
  .accordion-item.active .accordion-content {
    max-height: 1000px; /* ajuste conforme necessário */
  }
  .carousel {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem 0;
  }
  .project-card {
    background-color: #1a1a1a;
    padding: 1rem;
    border-radius: 12px;
    min-width: 250px;
    box-shadow: 0 2px 6px #DA00FF;
  }
  .project-card img {
    width: 100%;
    border-radius: 8px;
  }
  .project-links a {
    margin-right: 8px;
    text-decoration: none;
    font-size: 0.9rem;
    color: #0066cc;
  }
  .carousel-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 1rem 2rem; /* espaço para as setas laterais */
  }
  .project-links img{
    width: 2rem;
    height: 2rem;
  }
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: background 0.3s ease;
  }
  .carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .carousel-btn.left {
    left: 0.5rem;
  }
  .carousel-btn.right {
    right: 0.5rem;
  }
  
  
 
  