.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.prjects{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10vw;
}
.sh {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    background-color: #031626;    
    border-radius: 10px;
    width: 100%;
    padding: 100px;
}
.skils{
    width: 60%;
}
.skils ul,
.hobb ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;    
    border-radius: 5px;
    
}
.skils a,
.hobb a {
    display: flex;
    justify-content: space-between;
    border-radius: 3px;    
}
.tituloSk{
    width: 100%;
    padding: 30px;
}
.skils h3{
    width: 100%;
    font-size: 1.2vw;
    text-align: left;
    border-bottom: solid 1px rgb(255, 255, 255) ;
}
.hobb h2 {
    width: 100%;
    padding-top: 100px;    
    gap: 10px;
}
.skils a:hover,
.hobb a:hover {
        border: solid 1px rgb(255, 255, 255);
    border-radius: 3px;
}
@media (max-width: 700px){
    .projectL{
        display: flex;
        flex-direction: column;
    }
    .projectR{
        display: flex;
        flex-direction: column;
    }
}
.projects{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#edu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 0 10vw 0;
    background-color: #031626;
}
.eduT{
    padding: 3vw;
    font-size: 3vw;
}
.eduH{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
}
#abo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#abo h2{
    width: 60%;
    text-align: right;
    border-bottom: solid 1px white;
    font-size: 3vw;  
    margin: 20px;  
}
.aboContent{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.aboContent span{
    color: white;
    width: 50%;
    font-size: 2.5vw;
    display: flex;
    align-items: center;
}
@media (max-width:700px) {
    .aboContent span{
        font-size: 3vw;
    }
}
@media (max-width:400px) {
    .aboContent p{
        font-size: 3.5vw;
    }
}
.aboContent ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: #031626;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
#contct h2{
    width: 60%;
    text-align: left;
    border-bottom: solid 1px white;
    font-size: 3vw;  
    margin: 20px;  
}
#contct{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #031626;
}
footer{
    text-align: center;
    color: #F25C05;
}
.language-buttons {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
}

.btnLang {
    background-color: #007bff04; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 15px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    transition: background-color 0.3s, transform 0.2s; /* Transições suaves */
}

.btnLang:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
    transform: translateY(-2px); /* Eleva o botão levemente */
}