section {    
    padding: 2rem;
    display: flex;
    justify-content: center;
  }  
  .aboContent {
    background-color: #1a1a1a; /* caixa interna mais escura */
    color: #E0E0E0;
    max-width: 900px;
    border-radius: 12px;
    padding:  2rem;
    position: relative;
    box-shadow: 0 0 20px #DA00FF;
    font-family: 'Segoe UI', sans-serif;
  }  
  /* Parágrafos */
  .aboIntro::before {
    content: "💡 ";
  }
  .aboFinal::before {
    content: "🚀 ";
  }  
  .aboIntro,
  .aboFinal {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
  
  /* Lista com emojis */
  .bulletList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2rem;
  }
  .bulletList li::before {
    content: "✔️ ";
    margin-right: 0.5rem;
  }
  .bulletList li {
    margin-bottom: 0.8rem;
  }
  
  /* Links sociais como barra lateral */
  .links {
    position: relative;
    z-index: 1;
    left: 0rem;
    background: linear-gradient(135deg, #0A0C1A 0%, #12152E 50%, #1C1A2B 100%);
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 0.5rem;
    box-shadow: 0 0 10px #DA00FF;
  }
  .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  
  .links ul li a {
    display: block;
    width: 32px;
    height: 32px;    
  }
  
  .links ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    transition: transform 0.2s ease;
  }  
  .links ul li img:hover {
    transform: scale(1.1);
  }
  