*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
}
body{
    font-size: 100%;
    list-style-type: none;
    background-color: #00050A;
    color: #ffff;
    margin: 10px;
}